*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    float: left;
}
body{
    background-image: url("Images/Project bg2.png");
    background-attachment: fixed;    
}
.heading img{
    width:1278px;
    height: 100px;
}
.nav{
    width: 99%;
    position: relative;
    left: 30px;
}
.nav a{
    color: cyan;
    text-decoration: none;
    padding: 15px;
    font-size: 22px;
}
.nav a:hover{
    text-decoration: underline;
}
.nav .main{
    color: lime;
    text-shadow: 4px -2px 5px lime;
}

.list{
    float: left;
    overflow: hidden;
}
.list .btn{
    font-size: 17px;    
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.list .btn button{
    background-color: black;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    /* color: cyan; */
}
.list .content{
    display: none;
    margin-top: 40px;
    position: absolute;
    background: linear-gradient(to left , black ,darkblue);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.content a:hover{
    background-color: rgba(210, 105, 30, 0.638);
}
.list .content a{
    font-size: 18px;
    float: none;
    color: gold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.list:hover .content{
    display: block;
}
h1{
    font-size: 50px;
    width: 99%;
    color: gold;
    text-align: center;
    padding: 20px;
}
.video{
    width: 99%;
    display: flex;
    justify-content: center;
}
.video iframe{
    justify-content: center;
    width: 65%;
    height: 300px;
}
.back {
    display: flex;
    width: 99%;
    justify-content: center;
}
.back img{
    width: 100px;
}