*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    float: left;
}
body{
    background-image: url("Images/Fit-hit.gif");
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-color: black;
}

.btn button{
    position: relative;
    top: 420px;
    left: 120px;
    background-color: black;
    border: 2px solid gray;
    box-shadow: 0px 0px 30px gray;
}
.btn a{
    padding: 5px;
    font-size: 20px;
    color: deepskyblue;
    box-shadow: 0 0 15px deepskyblue;
    text-shadow: 4px -2px 5px deepskyblue;
    text-decoration: none;
}
.nav{
    width: 99%;
    position: relative;
    left: 30px;
}
.nav a{
    color: cyan;
    text-decoration: none;
    padding: 15px;
    font-size: 22px;
}
.nav a:hover{
    text-decoration: underline;
}
.nav .main{
    color: lime;
    text-shadow: 4px -2px 5px lime;
}